/* Variables
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
	/* Colors */
	/* Coffee palette */
	--cof-creme: #E1E6E2;
	--cof-ocker: #E6C79A;
	--cof-orange: #DC9D48;
	--cof-brown: #A34706;
	--cof-darkbrown: #4D0906;

	/* Restaurant palette */
	--res-green: #607258;
	--res-brown: #C09A6C;
	--res-orange: #C07044;
	--res-red-light: #BB4436;
	--res-red-dark: #A43B3B;

	--ono-ocker: #E0D3CB;
	--ono-brown: #BC9E7B;

	--facebook: #3D5C97;
	--instagram: #cd99e6;
	--tripadvisor: #5A9445;
	--twitter: #73d2f2;

	/* Fonts */
	--heading-size: 30px;
	--catamaran: 'Catamaran', Arial, sans-serif;
	--fontsize: 18px;

	/* Sizes */
	--box-padding: 0.5em;
	--box-inside-padd: 1em;
	--heading-padd: 0 1em 1em 1em;
	--max-width: 60em;
}


/* General
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
	box-sizing: border-box;
}

body {
	font-family: var(--catamaran);
	font-size: var(--fontsize);
	margin: 0;
	padding: 0;
}

address {
	font-style: italic;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 28px;
	margin: 10px 0;
}

ul {
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus,
a:visited,
a:active {
	color: #000;
	text-decoration: none;
}


.back-button svg {
	height: 30px;
	width: 30px;
}

.outer-wrap {
	margin: 0 auto;
	max-width: var(--max-width);
	padding: var(--box-padding);
	width: 100%;
}

.inner-wrap {
	padding: var(--box-padding);
	width: 100%;
}

.inner-wrap--tiny {
	display: inline-block;
	padding: var(--box-padding);
	width: 49.3%;
}

.inner-wrap--no-top-padd {
	padding-top: 0;
}

.back-button {
	z-index: 3000 !important;
}

/* Navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav.navbar {
	background-color: #3e3e3e !important;
	font-size: var(--fontsize);
	margin: var(--box-padding);
	margin-bottom: 0;
	padding: 13px;
	transition-duration: .5s;
}

#navbar-black {
	background-color: #3d3d3d !important;
}

nav.navbar .nav-link {
	color: #fff !important;
}

nav.navbar ul li.nav-item.active a {
	color: var(--cof-orange) !important;
}


/* Resto-description
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-description,
.resto-page-description {
	background-color: #1a1a1a;
	border: 20px solid #272727;
	color: #fff;
	padding: var(--box-inside-padd);
	width: 100%;
}

.resto-description__logo {
	background-image: url('https://i.imgur.com/zegPEDI.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 150px;
	margin: 0 auto 10px auto;
	padding: var(--heading-padd);
	width: 100%;
}

.resto-description__about
.resto-description__about {
	font-size: var(--fontsize);
}


/* Resto-image
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-image {
	background-image: url('https://i.imgur.com/FCTJqYy.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 400px;
	width: 100%;
}


/* Resto-menu, resto-booking
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-menu,
.resto-booking {
	background-color: #000;
	padding-top: 100%;
	position: relative;
	width: 100%;
}

.resto-menu__link,
.resto-booking__link {
	bottom: 0;
	color: #fff !important;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-weight: bold;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	width: 100%;
}

.resto-booking {
	background-color: var(--res-red-dark)
}


/* Resto-hours
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-hours {
	background-color: #607258;
	padding: var(--box-inside-padd);
	text-align: center;
	width: 100%;
}

.resto-hours__list {
	color: #fff;
}

.resto-hours h3 {
	font-size: 25px;
}

.resto-hours__heading {
	color: var(--cof-ocker);
}

.resto-hours__contact-link a {
	color: var(--cof-orange);
}

.opening-image-flex {
	display: flex;
	flex-flow: row wrap;
}


/* Resto-gallery
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-gallery {
	object-fit: cover;
	overflow: hidden;
    width: 100%;
}

.glide__slides {
	margin: 0;
	padding: 0;
}

.glide__slide img {
	height: 300px;
	width: 140%;
}

.glide__arrow {
	font-size: 15px !important;
}


/* Resto-social
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-social {
	display: flex;
	flex-flow: row wrap;
}

.resto-social__item {
	width: 25%;
}

.resto-social__item a svg {
	margin: 0 auto;
	display: block;
	width: 70%;
}

.resto-social__item--facebook {
	background-color: var(--facebook);
}
.resto-social__item--instagram {
	background-color: var(--instagram);
}
.resto-social__item--tripadvisor {
	background-color: var(--tripadvisor);
}
.resto-social__item--twitter {
	background-color: var(--twitter);
}


/* Resto-events
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-events {
	background-color: #D6BBC9;
	padding: var(--box-inside-padd);
	width: 100%;
}

.resto-events__main-heading {
	color: #fff;
	font-size: 2em;
	text-align: center;
}

.resto-events__about {
	color: #fff;
}

.resto-events__link {
	color: #fff;
}

.resto-events__item {
	margin-bottom: 30px;
}

.resto-events__heading {
	color: var(--cof-orange);
}


/* Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
	background-color: #3e3e3e;
	color: #fff;
}

footer a,
footer.nav-link,
footer i {
	color: var(--cof-orange) !important;
}

footer .margin-top {
	margin-top: 40px;
}

footer .btn {
	background-color: #fff;
	border: none;
	color: #000 !important;
}

footer ul {
	margin: 0;
}

footer hr {
	width: 80%;
}









/* MENU PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-page-description__logo--menu-heading {
	font-size: var(--heading-size);
	padding-top: 0;
	text-align: center;
}

.resto-menu-drinks,
.resto-menu-foods {
	background-color: #607259;
	border: 20px solid #55654F;
	padding: var(--box-inside-padd);
	width: 100%;
}

.resto-menu__section {
	color: #fff;
	font-size: 25px;
}

.resto-menu__heading {
	color: #fff;
	font-size: var(--heading-size);
}

.flex-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.resto-menu-foods {
	margin-top: var(--box-inside-padd);
}

.drink-item__flex,
.food-item__flex {
	display: flex;
	flex-flow: row wrap;
}

.drink-item,
.food-item {
	padding: var(--box-inside-padd);
	width: 100%;
}

.drink-item__description,
.food-item__description {
	display: flex;
	flex-flow: row nowrap;
}

.drink-item__description p,
.food-item__description p {
	font-size: var(--fontsize);
}

.drink-item__size,
.food-item__size {
	color: #fff;
	width: 70%;
}

.drink-item__price,
.food-item__price {
	color: #fff;
	width: 30%;
}

.drink-item__heading,
.food-item__heading {
	color: var(--cof-orange);
	font-size: var(--fontsize);
}

.drink-item__price,
.food-item__price {
	text-align: right;
}











/* EVENTS PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.resto-events__social-icons i {
	font-size: 2.5em;
	margin: 10px 10px 10px 0;
}

.fa-facebook-square,
.fa-twitter-square {
	color: var(--cof-ocker);
}

.resto-events__when {
	color: var(--cof-ocker);
	margin: 10px 0;
}

.resto-events--desktop {
	background-color: #55654e;
}







/* CONTACT PAGE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.flex-contact {
	display: flex;
	flex-flow: row wrap;
}

.resto-contact {
	background-color: #3d3d3d;
	color: #fff;
	padding: var(--box-inside-padd);
	text-align: center;
	width: 100%;
}

.resto-contact__heading {
	color: var(--cof-orange);
}

.resto-map {
	width: 100%;
}

.resto-map iframe {
	height: 300px;
	width: 100% !important;
}

.resto-contact__list a {
	color: var(--cof-ocker);
}











/* Media queries Homepage
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 380px) {
	.resto-description__logo {
		width: 70%;
	}
}

@media screen and (min-width: 400px) {
	.glide__slide img {
		height: 400px;
		width: 130%;
	}
}

@media screen and (min-width: 420px) {
	.resto-menu__link, 
	.resto-booking__link {
		font-size: 45px;
	}
}

@media screen and (min-width: 480px)  {
	.resto-description {
		border-width: 10px;
		height: 330px;
		padding: 1em;
		position: absolute;
		text-align: center;
		width: 300px;
		z-index: 1000;
	}

	.resto-description__logo {
		height: 140px;
		width: 100%;
	}

	.resto-image {
		background-position: center;
		height: 700px;
	}
}

@media screen and (min-width: 520px) {
	.resto-menu__link,
	.resto-booking__link,
	.resto-events__main-heading {
		font-size: 55px;
	}
}

@media screen and (min-width: 550px) {
	.opening-image-flex {
		justify-content: center;
		height: 300px;
	}

	.resto-hours,
	.resto-hours__gallery {
		height: 300px;
		width: 50%;
	}

	.glide__slide img {
		height: 300px;
	}

	.resto-hours,
	.resto-gallery {
		width: 50%;
	}

	.resto-booking {
		margin-left: 5px;
	}
}

@media screen and (min-width: 600px) {
	.flex-menu--contact {
		height: 370px;
	}

	.flex-menu--contact .resto-hours,
	.flex-menu--contact .resto-hours__map {
		height: 370px;
	}
}

@media screen and (min-width: 636px) {
	.resto-menu-drinks {
		width: 48.5%;
		margin-right: 0.5em;
	}

	.resto-page-description__about {
		text-align: center;
	}

	.resto-menu-foods {
		margin-top: 0;
		margin-left: 0.5em;
		width: 48.5%;
	}
}

@media screen and (min-width: 710px) {
	.resto-menu__link, 
	.resto-booking__link {
		font-size: 75px;
	}
}

@media screen and (min-width: 768px) {
	.resto-booking {
		margin-left: 8px;
	}

	.resto-events {
		padding: 3em;
	}

	.resto-contact,
	.resto-map {
		height: 400px;
		width: 50%;
	}

	.resto-contact {
		padding-top: 80px;
	}

	.resto-map iframe {
		height: 400px;
	}

	.resto-events--desktop {
		background-color: #607258;
		display: flex;
		flex-flow: row wrap;
		padding: 0;
	}

	.resto-events__item--desktop {
		border: 20px solid #55654e;
		font-size: 19px;
		height: 450px;
		padding: 1em;
		margin: 0;
		width: 50%;
	}

	.resto-events__item--desktop:first-child {
		border-right-width: 10px;
		border-bottom-width: 10px;
	}

	.resto-events__item--desktop:nth-child(2) {
		border-left-width: 10px;
		border-bottom-width: 10px;
	}

	.resto-events__item--desktop:nth-child(3) {
		border-right-width: 10px;
		border-top-width: 10px;
	}

	.resto-events__item--desktop:last-child {
		border-top-width: 10px;
		border-left-width: 10px;
	}

	footer .margin-top {
		margin-top: 0;
	}

	footer .padding {
		padding: 2em 0;
	}
}

@media screen and (min-width: 800px) {
	.glide__slide img,
	.opening-image-flex,
	.resto-hours {
		height: 350px;
	}

	.resto-hours {
		padding-top: 40px;
	}
}

@media screen and (min-width: 840px) {
	.resto-menu__link,
	.resto-booking__link {
		font-size: 100px;
	}
}

@media screen and (min-width: 900px) {
	.glide__slide img,
	.opening-image-flex,
	.resto-hours {
		height: 400px;
	}

	.glide__slide img {
		width: 100%;
	}

	.resto-hours {
		padding-top: 70px;
	}

	.resto-events__item--desktop {
		font-size: 20px;
	}
}

@media screen and (min-width: 930px) {
	.resto-menu-drinks,
	.resto-menu-foods {
		width: 49%;
	}
}

@media screen and (min-width: 990px) {
	nav.navbar .nav-link {
		font-size: 27px;
	}

	nav.navbar ul {
		margin: 0;
	}

	.resto-image,
	.resto-description,
	.resto-page-description {
		margin-top: -90px;
	}

	.resto-page-description {
		padding-top: 60px;
	}

	nav.navbar {
		background-color: transparent !important;
	}
}

@media screen and (min-width: 1000px) {
	.resto-events__item--desktop {
		font-size: 22px;
	}
}







/*# sourceMappingURL=styles.css.map */
